/*-------------------------------------------------
=  Table of Css

1.Reset
2.General
3.Main Settings
4.Main Navigation
5.FullPage
6.Main content
7.Blog Page
8.Navigation
9.Page
10.Post
11.Project
12.Contact Form
13.Footer
14.Elements
15.Loader
16.Magnific popup
17.OWL
18.Animations

-------------------------------------------------*/
/*-------------------------------------------------
=  Import Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Product+Sans:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900");
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/* =  1.Reset
/*-------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
body {
  text-align: center;
  background-image: url(../img/movie.png);
  font-family: "Poppins", sans-serif;
}
 
.container {
  margin: 3em auto;
  width: 610px;
  border: solid white 5px;
  border-radius: 30px;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.container .thumbnail {
  display: flex;
  flex-wrap: wrap;
}
.container .thumbnail .thumb {
  height: 200px;
  width: 200px;
  transition: all 0.2s;
  object-fit: cover;
  cursor: pointer;
}
.container .thumbnail .thumb:hover {
  box-shadow: 3px 3px 20px;
  opacity: 0.8;
}
 
.desc {
  position: relative;
  width: 600px;
  height: 400px;
  overflow: hidden;
}
.desc:hover .judul {
  transform: translateY(80px);
}
.desc:hover .tittle {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0.8) 100%);
  opacity: 1;
}
.desc:hover .text {
  transform: translateY(-150px);
}
.desc .prev {
  object-fit: cover;
  width: 600px;
  height: 400px;
}
.desc .tittle {
  margin: auto;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.3s ease;
  opacity: 0;
  display: flex;
  flex-direction: column;
}
.desc .tittle .judul {
  color: white;
  padding: 20px;
  margin-top: -40px;
  transition: all 0.3s ease;
}
.desc .tittle .text {
  color: white;
  margin-top: 350px;
  padding: 20px;
  transition: all 0.35s ease 0.4s;
}
 
@keyframes fade {
  to {
    opacity: 1;
  }
}
.effect {
  opacity: 0;
  animation: fade 0.2s forwards;
}
 
.active {
  opacity: 0.5;
}
 